@import 'utilities';
@import 'flex';
@import 'shadows';

html, body {
  height: 100%;
}

body{
  margin:0;
  font-family: 'Lato', sans-serif;
  background: url(/img/whats-on-tap.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  line-height: 1.5;
  font-size: 18px;
}

.header {
  text-align: center;
  h1{
    color: #fff;
    font-size: 6vmin;
  }
}

.header-subtext {
  font-size: 24px;
}

.title-text {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 3px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.slack-logo {
  width: 80px;
}

.dark-bg {
  background-color: rgba(0,0,0,0.4);
}

.status-icons {
  .icon {
    max-width: 100%;
    img {
      max-width: 100%;
      width: 100px;
      height: 100px;
    }
    &.spinning {
      img{
        animation: spin 2s infinite ease-in-out;
      }
    }
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
